body{
    margin: 0;
    padding: 0;
    background: url(masakit.jpg);
    background-size:cover ;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: sans-serif;

}
.card{
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0,0, 0.5);
    padding: 20px;
    width:270px;
    box-shadow: 0 0 10px 5px black;
}
.card-header{
    text-align: center;
    color: white;
    padding-top: 10px;
    letter-spacing: 5px;

}
.form-group{
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    border-bottom: 2 px solid white;
    padding: 8px 0;
    
 }
 
 
 .form-group  i{
     font-size:20px ;
     color: white;
     
 
 }
 .form-group input{
     width: 100%;
     padding: 0 10px;
     background: none;
     border: none;
     font-size: 18px;
 }
 .form-group input::placeholder{
     color: white;
 }
 .btn-primary{
     width: 100%;
     background: none;
     padding:15px;
     border: 1px solid white;
     font-size: 18px;
     letter-spacing:5px ;
     color: white;
     cursor: pointer;
     transition: 0.3s;
 
 }
 .btn-primary:hover{
     background: rgba(0, 0,0, 0.8);
 }
 .bottom{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
.bottom a{
    color: white;
    font-size:14px;
    text-decoration: none;
}
.bottom a:hover{
   text-decoration: underline; 
}