body{
    margin: 0;
    padding: 0;
    font-size: 15px;
    font-family: sans-serif;
    background-color: #f4f4f4;
}
.container{
    width: 80%;
    margin: auto;
    overflow: hidden;

}
header{
    min-height: 500px;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(cov.jpg);

}
header #branding{
    float: left;
}
header #branding h1{
   margin: 20;
}
header nav{
    float: right;
    margin-top: 2px;

}
header li{
    float: left;
    display: inline;
    padding: 0 20px 0 20px;
}
header a{
    color: #ffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

ul{
    margin: 20px;
    padding:10px;

}
header #branding,header .active a{
    color: #ffff;
    font-weight: bold;
}
header a:hover{
    color: #002b88;
    font-weight: bold;
}
#showcase {
    margin-top: 175px;
    font-size: 35px;
    color: #ffff;
    margin-bottom: 10px;
    text-shadow: 2px 2px 5px #ffff;
    text-align: center;
}

#showcase p{
    font-size: 15px;
}


#newspaper{
    text-align: center;
}


}
#boxes{
    background: linear-gradient(to left,#6071be,#002b88 );
    color: #ffff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: 5px solid#6071be;
       
}

#name{
    text-align: center;
}


#boxes a {
    margin-top: 20px;

}
#boxes .box{
    float: left;
    text-align: center;
    width: 30%;
    padding: 10px;
}
#boxes .box img{
 width: 90px;
}
#peta h1{
    text-align: center;
}

footer{
    padding: 20px;
    margin-top: 20px;
    color: #ffff;
    background: rgb(80, 80, 80);
    text-align: center;

}